body {
    background-color: #050b18;
}

.window {
    width: 75%;
    height: 550px;
    background-color: bisque;
    border: 1px solid #878787;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.window-top-bar {
    background-color: #1c2837;
    color: #878787;
    height: 50px;
    border-bottom: 1px solid #878787;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.window-content {
    background-color: #101929;
    border-radius: 0 0 10px 10px;
    flex: 1;
    /* fills remaining space */
    overflow: auto;
    /* optional: scroll if content exceeds */
}

.window-dot-container {
    display: flex;
    gap: 7px;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
}

.window-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.chip {
    background-color: #293444;
    color: #c0c5cc;
    padding: 3px 5px;
    border-radius: 7px;
    display: inline-flex;
}

.chip-text {
    margin: 0;
    font-size: 0.7rem;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.green {
    background-color: rgb(2, 204, 2);
}