html {
  scroll-padding-top: 100px;
}

body {
    background-color: #050b18;
}

.custom-navbar {
    background-color: #0e1525;
}

.nav-link {
    color: #c6c9d1 !important;
}

.nav-bar-icons {
    display: flex;
    gap: 1rem;
}

.center-wrapper {
    padding-top: 180px;
    display: flex;
    gap: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.window {
    width: 60%;
    height: 600px;
    background-color: bisque;
    border: 1px solid #878787;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.project-windows-content {
    padding: 2rem;
    color: white;
    background-color: #101929;
    border-radius: 0 0 10px 10px;
    flex: 1;
    /* fills remaining space */
    overflow: auto;
    /* optional: scroll if content exceeds */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.window-top-bar {
    background-color: #1c2837;
    color: #878787;
    height: 50px;
    border-bottom: 1px solid #878787;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.window-content {
    padding: 2rem 2rem 1rem 2rem;
    color: white;
    background-color: #101929;
    border-radius: 0 0 10px 10px;
    flex: 1;
    /* fills remaining space */
    overflow: auto;
    /* optional: scroll if content exceeds */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.window-content p {
    margin: 0;
}

.window-content h1 {
    font-size: 4rem;
}

.window-dot-container {
    display: flex;
    gap: 7px;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
}

.window-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.window-title p {
    margin: 0;
    line-height: 1;
}

.window-git-status {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.window-content .custom-btn {
    width: 12rem;
    background: linear-gradient(135deg, #2c92c9, #9a33f8);
    color: white;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: 600;
    transition: background 0.3s ease, transform 0.2s ease;
}

.window-content .custom-btn:hover {
    background: linear-gradient(135deg, #9a33f8, #2c92c9);
    /* reversed gradient */
    transform: scale(1.05);
}

.window-content .custom-btn2 {
    width: 12rem;
    background-color: #161c27;
    color: white;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: 600;
    transition: background 0.3s ease, transform 0.2s ease;
}

.window-content .custom-btn2:hover {
    background-color: #161c27;
    transform: scale(1.05);
}

.window-mini-title {
    color: #00d3f3;
}

.window .company-name {
    color: #2c92c9;
}

.window .current-project {
    color: #fdc700;
}

.window .skill {
    color: #e75eaa;
}

.projects-window {
    width: 60%;
    height: 620px;
    background-color: bisque;
    border: 1px solid #878787;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.project-window {
    width: 49%;
    height: 250px;
    background-color: bisque;
    border: 1px solid #878787;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: background 0.3s ease, transform 0.2s ease;

}

.project-window:hover {
    border: 1px solid #c5c5c5;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    transform: scale(1.01);
}

.project-window .window-top-bar {
    background-color: #343f50;
    color: #989898;
    height: 50px;
    border-bottom: 1px solid #878787;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.project-window .window-top-bar .chip {
    background-color: #473971;
    color: #c0c5cc;
    padding: 3px 5px;
    border-radius: 7px;
    display: inline-flex;
}

.project-window .project-pannel {
    width: 99%;
    height: 99%;
    overflow: auto;
}

.project-window .project-tags {
    display: flex;
    gap: 5px;
}

#typewriter {
    background: linear-gradient(135deg, #2c92c9, #9a33f8);
    background-clip: text;
    -webkit-background-clip: text;

    /* Make text transparent to reveal gradient */
    color: transparent;
    -webkit-text-fill-color: transparent;
}


.skill-window {
    width: 60%;
    height: 600px;
    background-color: bisque;
    border: 1px solid #878787;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.skill-title {
    color: #4c99f0;
}

.bracket {
    color: #fdc700;
}

.skill-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.w-card {
    width: 220px;
    height: 130px;
    background-color: #1c2837;
    border-radius: 10px;
    border: 1px solid #878787;
}

.w-card:hover {
    border: 1px solid #c5c5c5;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    transform: scale(1.01);
}

.w-card-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

/* .w-card .chip {
    background-color: #483220;
    color: #eecf20;
    height: 10%;
} */

.w-card-content h6 {
    font-weight: bold;
}

.experience-window {
    width: 60%;
    height: 750px;
    background-color: bisque;
    border: 1px solid #878787;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.experience-window .window-content {
    display: flex;
    flex-direction: row;
}

.experience-window .experience-titles .chip {
    background-color: #473971;

}


.experience-window .experience-titles p {
    font-size: 10px;
}

.experience-window .experience-left-side {
    flex: 0.2;
}

.experience-window .experience-right-side {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience-window .w-card {
    width: 100%;
    height: 49%;
}

.experience-window .w-card-content h6 {
    font-weight: normal;
    color: #00d3f3;
}

.experience-window .experience-titles h6,
.experience-window .experience-titles h5 {
    font-weight: bold;
}

.experience-window .w-card .key-contribution h6 {
    color: #9a33f8;
}

.experience-window .w-card .technology h6 {
    color: #eecf20;
}

.experience-window .w-card-content {
    justify-content: center;
    gap: 10px;
}

.experience-window .divider {
    width: 1px;
    height: 300px;
    background-color: #ccc;
    /* margin: 0 20px; */
}

.experience-window .up-box {
    padding-bottom: 1rem;
}

.experience-window .down-box {
    padding-bottom: 12rem;
}

.contact-window {
    width: 60%;
    height: 600px;
    background-color: bisque;
    border: 1px solid #878787;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.contact-window .window-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
}

.contact-window .contact-window-left .w-card {
    width: 100%;
    height: auto;

}

.contact-window .contact-window-right .w-card {
    width: 100%;
    height: 96%;
}

.contact-window .contact-window-left {
    flex: 1;
}

.contact-window .contact-window-left .w-card {
    font-size: 0.9rem;
    color: #99a1af;
}

.contact-window .contact-window-right {
    flex: 1;
}

.contact-window .contact-window-right form input,
.contact-window .contact-window-right form textarea {
    background-color: #1f2631;
    color: white;
    border-radius: 5px;
}

.contact-window .contact-window-right form .custom-btn {
    width: 100%;
}

footer {
    margin-top: 5rem;
    padding: 1rem 6rem 1rem 6rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    font-size: 1rem;
    background-color: #1c2737;
    padding: 1rem 0 1rem 0;
    color: #99a1af;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.chip {
    background-color: #293444;
    color: #c0c5cc;
    padding: 3px 5px;
    border-radius: 7px;
    border: 1px solid;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.chip-text {
    margin: 0;
    font-size: 0.7rem;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.green {
    background-color: rgb(2, 204, 2);
}

.purple {
    background-color: #9a33f8;
}

@media (max-width : 768px) {

    .center-wrapper {
        padding-top: 150px;
        padding-top: 120px;
    }

    .contact-window,
    .experience-window,
    .projects-window,
    .skill-window,
    .window {
        width: 85%;
    }

    .window-content h1 {
        font-size: 1.8rem;
    }

    .window-content h4 {
        font-size: 1rem;
    }

    .window-content h5 {
        font-size: 0.9rem;
    }

    .window-content-buttons {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .project-window {
        width: 100%;
    }

    .experience-window .experience-left-side {
        flex: 0.1;
    }

    .experience-window .w-card {
        width: 100%;
        height: auto;
    }

    .experience-window .divider {
        width: 1px;
        height: 600px;
        background-color: #ccc;
        /* margin: 0 20px; */
    }

    .experience-window .down-box {
        padding-bottom: 2rem;
    }

    .contact-window h5 {
        font-size: 1.2rem;
    }

    .contact-window .contact-window-right .w-card {
        width: 100%;
        height: 100%;
    }

    footer {
        margin-top: 5rem;
        padding: 1rem 1rem 1rem 1rem;
    }
}